:root {
  --primaryColor:#FF6C00;
  --secondaryColor:#191C26;

  --primaryText:#303030;
  --secondaryText:#9DA4BD;
}


body {
  font-family: "Open Sans", sans-serif;
}

.section-title {
  color: var(--primaryText);

  font-family: Releway;
  font-family: 700px;
  font-size: 42px;
}
